{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<h1>Home Template</h1>

<div class="home-container">
  <div>
    <h3>Browse Topics</h3>
    <hr />

    <div>
      <a href="{% url 'home'%}">All</a>
    </div>

    {% for tag in tagsscontext%}
    <div>
      <a href="{% url 'home' %}?q={{tag.name}}"> {{tag}} </a>
    </div>
    {% endfor%}
  </div>

  <div>
    <h5>{{content_count}} contents available</h5>
    <a href="{% url 'create-content' %}">Create New Content</a>
    <hr />
    <div>
      {% for content in contentscontext %}
      <div>
        {% if request.user == content.owner %}
        <a href="{% url 'update-content' content.id %}"> Update Content </a>
        <span>&nbsp;</span>
        <a href="{% url 'delete-content' content.id %}"> Delete Content </a>
        <br />
        <br />
        {% endif %}

        <span>Owner:{{content.owner.username}}</span> <br />
        <span>Content ID:{{content.id}}</span> <br />
        <span>
          Header:<a href="{% url 'content' content.id %}">{{content.header}}</a>
        </span>
        <br />
        <span
          >Link:<a href="{{content.link}}" target="_blank"
            >{{content.link}}</a
          ></span
        >
        <br />

        {% comment %}
        <h5>
          {{content.id}} --
          <a href="{% url 'content' content.id %}">{{content.header}}</a>
        </h5>
        {% endcomment %}
        <span
          >Tags: {% for tag in content.tag.all %}
          <small>{{tag.name}}</small>
          {% endfor%}
        </span>
        <br />
        <span>Visibility:{{content.visibility}}</span>
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
