{% extends 'main.html' %} {% block content %}

<style>

  .home-container {
    display: grid;
    {% comment %} grid-template-columns: 1fr 3fr 1fr; {% endcomment %}
    grid-template-columns: 20% 60% 20%;
  }

  img {
    max-width: 60%;
    height: auto;
  }
</style>

<div class="home-container">
  <div>
    <div><h3>Home Page</h3></div>
    <div class="hr-div"><hr /></div>
    <div>
      <h5>
        Profile <span>&nbsp;</span><span>&nbsp;</span>
        <span style="font-weight: normal; font-size: 0.9rem">
          {% if request.user == profile.owner %}
          <a href="{% url 'edit-profile' profile.owner.pk %}"> Edit Profile </a>
          {% endif %}
        </span>
      </h5>
      <h5>
        User:
        <a href="{% url 'profile' profile.owner.pk %}"
          >{{profile.owner.username}}</a
        >
      </h5>
      <h5>
        <img src="{{profile.profile_pic.url}}" alt="Default Profile Pic" />
      </h5>
      <h5>Bio: <span style="font-weight: 200">{{profile.bio}}</span></h5>
    </div>
  </div>

  <div>
    <div>
      <h5>{{contents_all_count}} contents available</h5>
      <p>
        Filter contents by: <a href="{% url 'my' %}">My Contents</a
        ><span>&nbsp;</span><span>&nbsp;</span>
        <a href="{% url 'friends' %}">Friends' Contents</a><span>&nbsp;</span
        ><span>&nbsp;</span>
        <span style="font-weight: bold">Other Contents</span><span>&nbsp;</span
        ><span>&nbsp;</span>
      </p>
    </div>
    <div class="hr-div"><hr /></div>

    <a href="{% url 'create-content' %}">Create New Content</a>
    <div class="hr-div"><hr /></div>

    {% include 'base/feed_component.html'%}
  </div>

  <div>{% include 'base/activity_component.html'%}</div>
</div>

{% endblock content %}
